header {
  background-color: black;
  min-height: 40px;
  z-index: 999;
  color: white;
  text-align: center;
  font-size: xx-small;
  letter-spacing: 5px;
  padding-top: 13px; }

footer {
  background-color: grey;
  color: #fff;
  font-family: 'Satisfy', cursive;
  padding: 25px;
  text-align: center;
  letter-spacing: 2px; }

.follow-us {
  text-decoration: none;
  color: white;
  text-align: start;
  font-size: medium;
  font-weight: lighter;
  padding: 20px;
  padding-bottom: 35px;
  font-family: roboto mono;
  letter-spacing: 3px; }

.bi-facebook {
  font-size: 15px;
  margin-left: 15px;
  margin-right: 15px;
  color: white; }
  .bi-facebook:hover {
    color: #3b5998; }

.bi-whatsapp {
  font-size: 15px;
  margin-left: 15px;
  margin-right: 15px;
  color: white; }
  .bi-whatsapp:hover {
    color: #25d366; }

.bi-instagram {
  font-size: 15px;
  margin-left: 15px;
  margin-right: 15px;
  color: white; }
  .bi-instagram:hover {
    color: #8a3ab9; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: roboto mono; }

.global-atributos, .story, .categoria, .totebag, .suscripcion {
  font-family: roboto mono;
  text-align: center;
  font-weight: lighter; }

.enlace-logo {
  text-decoration: none;
  color: black;
  font-family: roboto mono;
  align-items: center; }

.titulo {
  padding-top: 5px;
  font-weight: normal;
  text-align: center;
  font-size: 25px;
  margin: auto;
  min-height: 40px;
  margin-bottom: 0; }

h2.subtitulo {
  font-family: 'Space Mono', monospace;
  text-align: center;
  font-size: medium;
  font-weight: lighter;
  font-size: small;
  padding-bottom: 5px;
  background-color: #BFBFBF; }

.titulo {
  background-color: #BFBFBF; }

.card:hover img {
  transition: all 0.5s ease;
  padding: 15px; }

.carousel-caption {
  top: 30%;
  bottom: auto;
  cursor: pointer;
  transition: .5s; }

.heading, .sub-heading {
  font-size: 15px;
  letter-spacing: 2px;
  font-family: roboto mono; }

.sub-heading {
  font-size: 25px; }

.carousel-item {
  transition-duration: 1.25s;
  transition: scale(1.75, 1.75);
  opacity: 0; }
  .carousel-item:hover {
    opacity: 1;
    transform: scale(1, 1); }

.material-symbols-outlined {
  font-size: 35px;
  margin: 10px; }

.submenu {
  position: absolute;
  background-color: whitesmoke;
  opacity: .8;
  display: none; }
  .submenu li a {
    display: block;
    padding: 15px;
    color: black;
    font-size: large; }

.navbar-nav {
  background-color: whitesmoke; }

.story {
  font-size: 30px;
  padding-top: 50px; }

.boxStory {
  width: 30%;
  padding-top: 5px;
  text-align: center;
  max-width: 10000px;
  margin: 1.6em auto;
  letter-spacing: 2px; }

.containerSoya {
  background-color: whitesmoke;
  width: 40%;
  max-width: 1000px;
  margin: 1.6em auto;
  display: grid;
  gap: 1.6em;
  grid-template-columns: repeat(5, 1fr);
  padding-top: 35px; }
  .containerSoya .header,
  .containerSoya .content,
  .containerSoya .sidebar,
  .containerSoya .div {
    background: #fff;
    padding: 20px;
    border: 1px solid #000000; }

.headerSoya {
  grid-column: 1/6;
  background: gray;
  color: #fff;
  font-size: small;
  font-weight: lighter;
  text-align: center;
  font-family: monospace;
  z-index: 1; }

.beneficios {
  font-family: monospace;
  font-size: 22px; }

.containerSoya .content {
  grid-column: span 3; }

.containerSoya .sidebar {
  grid-column: span 2;
  display: flex;
  width: fit-content;
  align-items: center;
  flex-direction: column; }

.content .article {
  background: gray;
  padding: 20px;
  margin-top: 5px;
  color: white;
  justify-content: center; }
  .content .article h1,
  .content .article p {
    padding: 10px; }

.categoria {
  font-size: 30px;
  padding: 25px; }

.bestimg {
  width: 100%;
  height: 90vh;
  display: flex;
  align-content: space-between; }
  .bestimg img {
    padding: 30px;
    transition: all 0.5s ease; }
    .bestimg img:hover {
      cursor: pointer;
      transform: scale(0.5); }

#galeria .col-lg-3 {
  margin: 0 !important;
  padding: 5px; }

#galeria img {
  width: 100%; }

.totebag {
  font-size: 35px;
  padding: 60px; }

.toteimg {
  width: 100%;
  height: 90vh;
  display: flex;
  align-content: space-between; }
  .toteimg img {
    padding: 30px; }

.imgSuscripcion {
  width: 100%; }

.suscripcion {
  text-decoration: none;
  padding-top: 1em;
  font-size: 30px; }

.bg-lav {
  background-color: lightgray; }

.kitsregalo {
  text-align: center;
  font-size: medium; }

#kits .col-lg-3 {
  margin: 0 !important;
  padding: 5px; }

#kits img {
  width: 100%;
  height: auto; }

#kits img {
  padding: 30px;
  transition: all 0.5s ease; }
  #kits img:hover {
    cursor: pointer;
    transform: scale(1.5); }

@media screen and (max-width: 768px) {
  .header {
    text-align: center; }
  .nav-menu {
    grid-column: 1/-1; }
  .img-home {
    grid-column: 1/.1; }
  .story .boxStory {
    flex-direction: column; }
  .containerPrincipal {
    flex-direction: column;
    width: 70%;
    height: auto;
    margin: 1.6em auto; }
  .containerSoya .content {
    padding-top: 40px;
    grid-column: 1/-1; }
  .containerSoya .sidebar {
    grid-column: 1/-1; }
  .bestimg,
  .toteimg,
  .kits {
    flex-direction: column;
    width: 70%;
    height: auto;
    margin: 1.6em auto; } }
