footer {
    background-color: grey;
    color: #fff;
    font-family: 'Satisfy', cursive;
    padding: 25px;
    text-align: center;
    letter-spacing: 2px;
  
  }
  
  .follow-us {
    text-decoration: none;
    color: white;
    text-align: start;
    font-size: medium;
    font-weight: lighter;
    padding: 20px;
    padding-bottom: 35px;
    font-family: roboto mono;
    letter-spacing: 3px;
  }
  
  .bi-facebook {
    font-size: 15px;
    margin-left: 15px;
    margin-right: 15px;
    color: white;
  }
  
  .bi-facebook:hover {
    color: gray;
  }
  
  .bi-whatsapp {
    font-size: 15px;
    margin-left: 15px;
    margin-right: 15px;
    color: white;
  }
  
  .bi-whatsapp:hover {
    color: gray;
  }
  
  .bi-instagram {
    font-size: 15px;
    margin-left: 15px;
    margin-right: 15px;
    color: white;
  }
  
  .bi-instagram:hover {
    color: gray;
  }