header {
    background-color: black;
    min-height: 40px;
    z-index: 999;
    color: white;
    text-align: center;
    font-size: x-small;
    letter-spacing: 4px;
    position: sticky;
    padding-top: 8px;
  }